.appRoot, .root {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--colors-background-normal);
  position: relative;
}

.appRoot {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.appRootMain {
  flex: 1;
  overflow-y: scroll;

  display: flex;
  flex-direction: row;
  gap: 0;
}

.nav {
  width: 300px;
}

.content {
  flex: 1;
}

.authWindow {
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;
  background-color: #000000BB;
  backdrop-filter: blur(3px);
}

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
