.root {
  padding: var(--gap-huge) var(--gap-normal) 0 var(--gap-normal);
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  width: 70%;
}

.cardContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-normal);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-normal);
  align-items: center;
  border-radius: var(--gap-tiny);
  cursor: pointer;
  border: 1px solid var(--colors-plex-primary);
  transition: all 0.1s ease-out;
  padding: var(--gap-large);
  height: calc(100% - 2 * var(--gap-large));
  max-width: 260px;
  background-color: #00000030;
  font-size: var(--font-size-huge);
}

.card:hover {
  background-color: var(--colors-background-dark);
  transform: scale(1.2);
}

.card svg {
  width: 30%;
  fill: var(--colors-plex-primary);
}

.textContainer {
  flex: 1;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .cardContainer {
    gap: var(--gap-large);
  }
  .card {
    gap: var(--gap-large);
  }
}

.latestRequests {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: var(--gap-normal);
}

.latestRequests .requests {
  display: flex;
  flex-direction: row;
  gap: var(--gap-normal);
}
